body {
  font-family: "Helvetica-Neue", Ultra;
  font-size: 26px;
}
#wrapper {
  background: white;
  border-radius: 5px;
  padding: 1.2rem
}
.otstup {
  margin-bottom: 50px;

}
 .align{
 	margin-top: 150px;
 	width: 40%;
 }